{% extends 'base.html' %}

{% block content %}

  {% if users %}
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users%}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <p><a href="{% url 'create' %}">Create user</a></p>
{% endblock %}